CROSS.AUD.AUD=UNITY
CROSS.AUD.CAD=USD
CROSS.AUD.CNY=USD
CROSS.AUD.CZK=USD
CROSS.AUD.DKK=USD
CROSS.AUD.EUR=USD
CROSS.AUD.GBP=USD
CROSS.AUD.JPY=USD
CROSS.AUD.NOK=USD
CROSS.AUD.NZD=USD
CROSS.AUD.USD=DIRECT

CROSS.CAD.AUD=USD
CROSS.CAD.CAD=UNITY
CROSS.CAD.CNY=USD
CROSS.CAD.CZK=USD
CROSS.CAD.DKK=USD
CROSS.CAD.EUR=USD
CROSS.CAD.GBP=USD
CROSS.CAD.JPY=USD
CROSS.CAD.NOK=USD
CROSS.CAD.NZD=USD
CROSS.CAD.USD=DIRECT

CROSS.CNY.AUD=USD
CROSS.CNY.CAD=USD
CROSS.CNY.CNY=UNITY
CROSS.CNY.CZK=USD
CROSS.CNY.DKK=USD
CROSS.CNY.EUR=USD
CROSS.CNY.GBP=USD
CROSS.CNY.JPY=USD
CROSS.CNY.NOK=USD
CROSS.CNY.NZD=USD
CROSS.CNY.USD=DIRECT

CROSS.CZK.AUD=USD
CROSS.CZK.CAD=USD
CROSS.CZK.CNY=USD
CROSS.CZK.CZK=UNITY
CROSS.CZK.DKK=EUR
CROSS.CZK.EUR=INVERT
CROSS.CZK.GBP=USD
CROSS.CZK.JPY=USD
CROSS.CZK.NOK=EUR
CROSS.CZK.NZD=USD
CROSS.CZK.USD=EUR

CROSS.DKK.AUD=USD
CROSS.DKK.CAD=USD
CROSS.DKK.CNY=USD
CROSS.DKK.CZK=EUR
CROSS.DKK.DKK=UNITY
CROSS.DKK.EUR=INVERT
CROSS.DKK.GBP=USD
CROSS.DKK.JPY=USD
CROSS.DKK.NOK=EUR
CROSS.DKK.NZD=USD
CROSS.DKK.USD=EUR

CROSS.EUR.AUD=USD
CROSS.EUR.CAD=USD
CROSS.EUR.CNY=USD
CROSS.EUR.CZK=DIRECT
CROSS.EUR.DKK=DIRECT
CROSS.EUR.EUR=UNITY
CROSS.EUR.GBP=USD
CROSS.EUR.JPY=USD
CROSS.EUR.NOK=DIRECT
CROSS.EUR.NZD=USD
CROSS.EUR.USD=DIRECT

CROSS.GBP.AUD=USD
CROSS.GBP.CAD=USD
CROSS.GBP.CNY=USD
CROSS.GBP.CZK=USD
CROSS.GBP.DKK=USD
CROSS.GBP.EUR=USD
CROSS.GBP.GBP=UNITY
CROSS.GBP.JPY=USD
CROSS.GBP.NOK=USD
CROSS.GBP.NZD=USD
CROSS.GBP.USD=DIRECT

CROSS.JPY.AUD=USD
CROSS.JPY.CAD=USD
CROSS.JPY.CNY=USD
CROSS.JPY.CZK=USD
CROSS.JPY.DKK=USD
CROSS.JPY.EUR=USD
CROSS.JPY.GBP=USD
CROSS.JPY.JPY=DIRECT
CROSS.JPY.NOK=USD
CROSS.JPY.NZD=USD
CROSS.JPY.USD=INVERT

CROSS.NOK.AUD=USD
CROSS.NOK.CAD=USD
CROSS.NOK.CNY=USD
CROSS.NOK.CZK=EUR
CROSS.NOK.DKK=EUR
CROSS.NOK.EUR=INVERT
CROSS.NOK.GBP=USD
CROSS.NOK.JPY=USD
CROSS.NOK.NOK=UNITY
CROSS.NOK.NZD=USD
CROSS.NOK.USD=EUR

CROSS.NZD.AUD=USD
CROSS.NZD.CAD=USD
CROSS.NZD.CNY=USD
CROSS.NZD.CZK=USD
CROSS.NZD.DKK=USD
CROSS.NZD.EUR=USD
CROSS.NZD.GBP=USD
CROSS.NZD.JPY=USD
CROSS.NZD.NOK=USD
CROSS.NZD.NZD=UNITY
CROSS.NZD.USD=DIRECT

CROSS.USD.AUD=INVERT
CROSS.USD.CAD=INVERT
CROSS.USD.CNY=INVERT
CROSS.USD.CZK=EUR
CROSS.USD.DKK=EUR
CROSS.USD.EUR=INVERT
CROSS.USD.GBP=INVERT
CROSS.USD.JPY=DIRECT
CROSS.USD.NOK=EUR
CROSS.USD.NZD=INVERT
CROSS.USD.USD=UNITY
